<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestService" />
                <binding name="BasicHttpBinding_IRestService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RestService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRestService" contract="WcfService.IRestService"
                name="BasicHttpBinding_IRestService" />
            <endpoint address="http://ec2-52-66-21-39.ap-south-1.compute.amazonaws.com/RestService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestService1"
                contract="RemoteWcfHost.IRestService" name="BasicHttpBinding_IRestService1" />
        </client>
    </system.serviceModel>
</configuration>